header{
	margin-top: 0px;
	display: flex;
	
	background-color:#004775;
}

header > nav > a {
	  
	  text-decoration: none;
	  font-size: 1.2rem;
	  font-weight: bold;
	  color: white;
	  background: none;
	  border: none;
	  padding: 0;
	  margin: 0;
	  font: inherit;
	  cursor: pointer;
	  
	  margin: 0px 20px;
	  
}

nav{
	width: 80vw;
	padding: 10px;
}

a:hover{
	text-decoration: underline;
}